<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="css/main.css">
{% include head.html %}
</head>
<body>
  <center><h1><a href="./">{{ site.tag_text }}</a></h1>
    <p id="joke" style="margin-top: -2.5rem; font-family:'Libre Baskerville'; font-weight: 400; font-style: italic;">Sane defaults for the twenty-first century</i></p></center>
  <div class="container">
    
    {{ content }}
    <br>

  </div>
  <br>
  <center><p style="font-size:0.8em; font-family: 'Libre Baskerville', sans-serif; font-style: italic;">Some kind of footer</p></center>
{% include scripts.html %}
</body>
</html>
